/*
=====
DEPENDENCES
=====
*/


/*.r-link {
    display: var(--rLinkDisplay, inline-flex) !important;
}*/

.r-link[href] {
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
}


/*
  =====
  CORE STYLES
  =====
  */


/* 
  focus state 
  */

.menu__link:focus {
    outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
    outline-offset: var(--menuLinkOutlineOffset);
}


/* 
  fading siblings
  */

.menu:hover .menu__link:not(:hover) {
    --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
}


/*
  =====
  PRESENTATION STYLES
  =====
  */

nav {
    background-color: #f0f0f0;
    display: flex;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
}

.menu-link {
    position: relative;
    padding: 0.5rem 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}


/* 
  =====
  TEXT UNDERLINED
  =====
  */

.text-underlined::before,
.text-underlined::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);
    will-change: width;
    transition: width .1s ease-out;
    position: absolute;
    bottom: 0;
}

.text-underlined::before {
    left: 50%;
    transform: translateX(-50%);
}

.text-underlined::after {
    right: 50%;
    transform: translateX(50%);
}

.text-underlined:hover::before,
.text-underlined:hover::after {
    width: 100%;
    transition-duration: .2s;
}


/*
  =====
  SETTINGS
  =====
  */

.page__custom-settings {
    --menuBackgroundColor: #6c5ce7;
    --menuLinkColor: #fff;
    --menuLinkColorUnactive: #241c69;
    --menuLinkOutlineOffset: -.5rem;
}


/*
  =====
  DEMO
  =====
  */

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #db545a;
}

.page {
    box-sizing: border-box;
    /*
    max-width: 640px;
    padding-left: .75rem;
    padding-right: .75rem;
    */
}

.page__menu:nth-child(n+2) {
    margin-top: 3rem;
}

.menu {
    margin-top: 2%;
    margin-left: 5%;
    display: flex;
}

.box {
    margin: 2%;
    display: flex;
    height: 80vh;
    justify-content: center;
    border-radius: 10px;
    background: #f0f0f0;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding-top: 1%;
    padding-left: 2%;
}

header {
    margin-left: 2.5%;
    font-size: 40px;
    font-weight: 600;
    line-height: 83px;
}

h3 {
    color: #db545a;
}


/*Grid Elemente Boxen*/

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: dense;
    padding: 10px;
    column-gap: 1%;
    row-gap: 3%;
}

.grid-item {
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
}

.grid-item:hover {
    background-color: #ffdddd;
}

.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 4;
}

.search-bar {
    display: flex;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
    transition: all 0.25s ease-out;
}

.search-bar input,
.search-btn {
    width: 3em;
    height: 3em;
}

.search-bar input:invalid:not(:focus),
.search-btn {
    cursor: pointer;
}

.search-bar,
.search-bar input:focus,
.search-bar input:valid {
    width: 100%;
}

.search-bar input:focus,
.search-bar input:not(:focus)+.search-btn:focus {
    outline: transparent;
}

.search-bar {
    width: auto;
    max-width: 30em;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 2%;
}

.search-bar input {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #171717 inset;
    padding: 0.75em;
    transform: translate(0.5em, 0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
}

.search-bar input:focus,
.search-bar input:valid {
    background: #fff;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1);
}

.search-btn {
    background: #171717;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
    transform-origin: 0 50%;
}

.search-btn:before,
.search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
}

.search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
}

.search-btn:after {
    background: #f1f1f1;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em, 0) rotate(45deg);
    transform-origin: 0 50%;
}

.search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
}


/* Active state */

.search-bar input:focus+.search-btn,
.search-bar input:valid+.search-btn {
    background: #db545a;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
    border: 0;
}

.search-bar input:focus+.search-btn:before,
.search-bar input:focus+.search-btn:after,
.search-bar input:valid+.search-btn:before,
.search-bar input:valid+.search-btn:after {
    opacity: 1;
}

.search-bar input:focus+.search-btn:hover,
.search-bar input:valid+.search-btn:hover,
.search-bar input:valid:not(:focus)+.search-btn:focus {
    background: #db545a;
}

.search-bar input:focus+.search-btn:active,
.search-bar input:valid+.search-btn:active {
    transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
    input {
        color: black;
    }
    .search-bar input {
        box-shadow: 0 0 0 0.4em black inset;
    }
    .search-bar input:focus,
    .search-bar input:valid {
        background: #3d3d3d;
        box-shadow: 0 0 0 0.1em #3d3d3d inset;
        border: 0;
    }
    .search-btn {
        background: black;
    }
}

#Uhrzeit,
#prio,
#Nachricht,
#Username,
#Passwort,
#Passwort-wdh,
#Email,
#EreignisTyp,
#date,
#class,
#content {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

form {
    width: 50%;
    float: left;
}